<section class="main-wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex header-wrap">
        <div class="input-group search-input-wrap">
          <div class="input-group-prepend">
            <button class="btn search-btn"><i class="mdi mdi-magnify"></i></button>
          </div>
          <button class="btn d-xl-none text-muted back-icon"><i class="mdi mdi-arrow-left"></i></button>
          <input type="text" placeholder="Search in Drive" value="type:pdf" class="border-0 pl-xl-3">
          <div class="input-group-append">
            <button class="btn close-btn"><i class="mdi mdi-close"></i></button>
            <button class="btn dropdown-btn"><i class="mdi mdi-menu-down"></i></button>
          </div>
        </div>
        <div class="right-btns d-xl-flex">
          <button class="btn"><i class="mdi mdi-help-circle-outline"></i></button>
          <button class="btn"><i class="mdi mdi-cog-outline"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom-wrap"></div>

  <div class="container search-result-section">
    <div class="row d-none d-xl-block">
      <p class="pl-4">Search result <i class="mdi mdi-grid float-right"></i></p>
    </div>
    <div class="row">
      <div class="col table-section">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Owner</th>
              <th scope="col">Last modified</th>
              <th scope="col">Size</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="boder-none d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i>
                Smartlrigation.pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">Apr 7, 2019 me</td>
              <td class="text-muted">49 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> Agenda.pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">Jul 11, 2018 me</td>
              <td class="text-muted">515 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> FKUG1803449(1).pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">may 29, 2018 me</td>
              <td class="text-muted">48 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> Aadhaar.pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">Aug 7, 2019 me</td>
              <td class="text-muted">338 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> PAN.pdf
                <i class="mdi mdi-account-multiple user-icon"></i>
              </td>
              <td class="text-muted">me</td>
              <td class="text-muted">Aug 29, 2018 me</td>
              <td class="text-muted">202 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> my docs.pdf
                <i class="mdi mdi-account-multiple user-icon"></i></td>
              <td class="text-muted">me</td>
              <td class="text-muted">Feb 23, 2018 me</td>
              <td class="text-muted">3 MB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> Dbms.pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">mar 5, 2018 me</td>
              <td class="text-muted">8 MB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> awt_graphics.pdf
                <i class="mdi mdi-account-multiple user-icon"></i>
              </td>
              <td class="text-muted">me</td>
              <td class="text-muted">Jan 27, 2020 me</td>
              <td class="text-muted">33 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i>
                ABDURAHIMAN'S Resume(1).pdf
              </td>
              <td class="text-muted">me</td>
              <td class="text-muted">oct 6, 2019 me</td>
              <td class="text-muted">58 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i>
                UTIITSL_ePAN_GO23784546_23082019_063127.PDF</td>
              <td class="text-muted">me</td>
              <td class="text-muted">Aug 29, 2019 me</td>
              <td class="text-muted">690 KB</td>
            </tr>
            <tr>
              <td class="d-flex align-items-center"><i class="mdi mdi-pdf-box pdf-icon"></i> Webpage.pdf</td>
              <td class="text-muted">me</td>
              <td class="text-muted">Dec 26, 2018 me</td>
              <td class="text-muted">30 KB</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
